/* Created 02/15/15 

Resources:
- http://css-tricks.com/equidistant-objects-with-css/ <- fantastic! Just
	one addition - giving container a height means you don't need to
	decrease font size to prevent excess space (used for top and bottom bars)
*/

body {
	background-color: lightgray;
}

body, p, h1, div {
	padding: 0;
	margin: 0;
}

/* FUNCTION */
.field {
	position: relative;
	z-index: 0; /* So it won't hide it's <0 z-index kids */
}

.object { position: absolute; }

.invisible { visibility: hidden; }

.hidden { display: none; }

/* SKIN */
/* containers */
.field {
	/* For visibility */
	background-color: darkgray;
	/*border: 1px solid black;*/
}

.row {
	/* For visibility */
	width: 88%;
	height: 8%;
	background-color: darkkhaki;
	/*border: 1px solid black;*/
	left: 0;
}

/*.others.row-1 {
	top: 0;
}

.others.row-2 {
	top: 2rem;
}

.others.row-3 {
	top: 4rem;
}

.others.row-4 {
	top: 6rem;
}

.others.row-5 {
	top: 8rem;
}*/

.barriers {
	bottom: 1.5rem;
}


/* sprites */
.other {
	top: 0;
	width: 4%;
	height: 50%;
}

.object.other1 {
	background-color: teal;
	/*background-image: url('../images/other1.png');*/
}

.object.other2 {
	background-color: coral;
	/*background-image: url('../images/other2.png');*/
}

.object.other3 {
	background-color: firebrick;
	/*background-image: url('../images/other3.png');*/
}

.object.mysterious {}

.barrier {
	bottom: 1.5rem;
	width: 2rem;
	height: 1rem;
	background-color: black;
}

.player {
	bottom: 0;
	width: 4%;  /* percent of field width? */
	height: 4%;
	background-color: teal;
}

.bullet {
	/*width: 4px;
	height: 7px;*/
	z-index: -100;
	background-color: cornsilk;
}


/* STRUCTURE */
body {text-align: center;}

.splash-screen {
	
}

/* WIDTH MUST BE AN WHOLE NUMBER OF REM'S FOR PLAYER SPEED TO WORK */
.game-container {
	position: relative;
	display: inline-block;
	width: 35rem;
	height: 30rem;
}

.topbar, .bottombar {
	margin-bottom: 0.2rem;
	display: flex;
	justify-content: space-between;
}

.death-row, .bullet-stats {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.death-row div, .bullet-stats div {
	/* Hack to get Others' images to sit next to text */
	position: relative;
	display: inline-block;
}

.dead-count {
	margin-left: 0.5rem;
}

.lives {
}

.field {
	display: inline-block;
	width: 35rem;  /* percent of game-container */
	height: 25rem;
}

/* CONTAINERS */

/* CONTENT */



.dim-top {
	position: absolute;
	width: 1px;
	background-color: black;
	top:0;
	/*bottom:0;*/
}


